.form-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: Arial;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
}

button[type="submit"] {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #25D366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table-container {
  max-width: 90%;
  margin: 30px auto;
  font-family: Arial;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #25D366;
  color: white;
}

table, th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

td button {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

/* WhatsApp Floating Button */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  z-index: 999;
  border: none;
}
.whatsapp-button img {
  width: 30px;
  height: 30px;
}
